html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

/*a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #e4b5b1;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
} */

li {
  list-style: none;
}

h1 {
  font-size: 32px;
  color: #bfa674;
}

h2 {
  font-size: 24px;
  color: #8f7e5c;
}

p {
  font-size: 16px;
  color: #3e3b3b;
}

blockquote {
  font-size: 24px;
  font-weight: bold;
  color: #bfa674;
  text-align: center;
  padding: 20px;
}

.campos-form input {
  margin: 10px 0;
}

.botao-form {
  background-color: #e4b5b1;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.h1-horario {
  text-align: center;
}

.tabela-horario {
  border: solid 2px #e4b5b1;
}

.tabela-cabecalho tr {
  background-color: #e4b5b1;
  color: #ffffff;
}

.img-banner {
  width: 100%;
}

.link-menu {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #e4b5b1;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: #f4e4dc;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  display: flex;
  width: 15%;
  background-color: #f4e4dc;
}
.header {
  min-height: 150px;
}
.content {
  background-color: white;
  min-height: 200px;
  padding: 20px;
}
.footer {
  display: grid;
  justify-content: center;
  background-color: #e4b5b1;
  color: #3e3b3b;
  min-height: 150px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.icone-redes {
  padding: 5px;
}
